/* Highlight Styles */
.{{ .ClassNamePrefix }}hl {
    font-family: monospace;
    color: {{ .Theme.CodeColor }};
    background-color: {{ .Theme.CodeBackgroundColor }};
    tab-size: {{ .Theme.TabSize }};
    position: relative;
}

.{{ .ClassNamePrefix }}hl * {
    box-sizing: border-box;
}

/* Line Number Styles */

.{{ .ClassNamePrefix }}ln {
    display: inline;
    color: {{ .Theme.LineNumberColor }};
    background-color: {{ .Theme.LineNumberBackgroundColor }};
    padding-left: 1em;
    padding-right: 0.5em;
    text-align: right;
    text-decoration: none;
    user-select: none;
}

.{{ .ClassNamePrefix }}ln:hover {
    text-decoration: underline;
}

.{{ .ClassNamePrefix }}ln:focus {
    outline: none;
}

.{{ .ClassNamePrefix }}l {
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.{{ .ClassNamePrefix }}l:target {
    background-color: {{ .Theme.HighlightColor }};
}

/* Code Styles */

.{{ .ClassNamePrefix }}code {
    display: grid;
    white-space: pre;
    grid-template-columns: min-content auto;
}

.{{ .ClassNamePrefix }}code details {
    white-space: pre-wrap;
    display: contents;
    position: relative;
}

.{{ .ClassNamePrefix }}code details > a {
    grid-column: 1;
}

.{{ .ClassNamePrefix }}code details > div {
    grid-column: 2
}

.{{ .ClassNamePrefix }}code details > summary {
    list-style-type: none;
}

.{{ .ClassNamePrefix }}code details > summary::before {
    content: "";
    height: 1lh;
    width: 1em;
    position: absolute;
    transform: translateY(-1lh);
    clip-path: polygon(40% 20%, 60% 50%, 40% 80%);
    background-color: {{ .Theme.CodeColor }};
    transition: all 0.2s ease-in-out;
}

.{{ .ClassNamePrefix }}code details[open] > summary::before {
    transform: translateY(-1lh) rotate(90deg);
}

.{{ .ClassNamePrefix }}code details > summary::after {
    content: "";
    height: 1lh;
    width: 1em;
    position: absolute;
    transform: translateY(-1lh);
    cursor: pointer;
}

/* Link Styles */

.{{ .ClassNamePrefix }}ref {
    color: unset;
    text-decoration: none;
}

.{{ .ClassNamePrefix }}ref:hover {
    text-decoration: underline;
}

.{{ .ClassNamePrefix }}def {
    color: unset;
    text-decoration: none;
}

.{{ .ClassNamePrefix }}def:hover {
    text-decoration: underline;
}

.{{ .ClassNamePrefix }}def:target {
    background-color: {{ .Theme.HighlightColor }};
    padding: 0 0.1em;
    margin: 0 -0.1em;
    border-radius: 0.2em;
}

/* Symbol Styles */
#{{ .IDPrefix }}symbols-toggle {
    display: none;
}

#{{ .IDPrefix }}symbols-toggle:checked ~ .{{ .ClassNamePrefix }}symbols {
    display: block;
}

label[for="{{ .IDPrefix }}symbols-toggle"] {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1em;
    margin-right: 1em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background-color: {{ .Theme.SymbolsBackgroundColor }};
    border-radius: 0.5em;
    user-select: none;
}

label[for="{{ .IDPrefix }}symbols-toggle"] span {
    position: absolute;
    width: 0.8em;
    height: 0.1em;
    background-color: {{ .Theme.SymbolsColor }};
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;

    transform: translate(-50%, -50%);
    transform-origin: top left;
}

label[for="{{ .IDPrefix }}symbols-toggle"] span:nth-child(1) {
    top: 30%;
}

#{{ .IDPrefix }}symbols-toggle:checked + label[for="{{ .IDPrefix }}symbols-toggle"] span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
}

label[for="{{ .IDPrefix }}symbols-toggle"] span:nth-child(2) {
    top: 50%;
}

#{{ .IDPrefix }}symbols-toggle:checked + label[for="{{ .IDPrefix }}symbols-toggle"] span:nth-child(2) {
    opacity: 0;
}

label[for="{{ .IDPrefix }}symbols-toggle"] span:nth-child(3) {
    top: 70%;
}

#{{ .IDPrefix }}symbols-toggle:checked + label[for="{{ .IDPrefix }}symbols-toggle"] span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg) translate(-50%, -50%);
}

.{{ .ClassNamePrefix }}symbols {
    color: {{ .Theme.SymbolsColor }};
    background-color: {{ .Theme.SymbolsBackgroundColor }};
    width: 33%;
    border-radius: 0.5em;
    padding: 0.5em;
    white-space: normal;
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.{{ .ClassNamePrefix }}symbols h2 {
    margin: 0.5em;
}

.{{ .ClassNamePrefix }}symbols > ul {
    padding: 0;
    margin: 0;
}

.{{ .ClassNamePrefix }}symbols > ul > li {
    list-style-type: none;
    margin-bottom: 0.1em;
}

.{{ .ClassNamePrefix }}symbols > ul > li > details > summary,
.{{ .ClassNamePrefix }}symbols > ul > li > details > div,
.{{ .ClassNamePrefix }}symbols > ul > li > div {
    padding: 0.5em 0.5em;
}

.{{ .ClassNamePrefix }}symbols > ul > li > details > div {
    border-top: 1px solid{{ .Theme.SymbolsBackgroundColor }};
}

.{{ .ClassNamePrefix }}symbols > ul > li > *:hover {
    background-color: {{ .Theme.SymbolsActiveBackgroundColor }};
}

.{{ .ClassNamePrefix }}symbols > ul > li a {
    color: unset;
    text-decoration: none;
}

.{{ .ClassNamePrefix }}symbols > ul > li a:hover {
    text-decoration: underline;
}

.{{ .ClassNamePrefix }}symbols > ul > li > details,
.{{ .ClassNamePrefix }}symbols > ul > li > div {
    white-space: normal;
    border-radius: 0.5em;
}

.{{ .ClassNamePrefix }}symbols > ul > li details[open] {
    background-color: {{ .Theme.SymbolsActiveBackgroundColor }};
}

.{{ .ClassNamePrefix }}symbols > ul > li p code {
    background-color: {{ .Theme.CodeBackgroundColor }};
    color: {{ .Theme.CodeColor }};
}

.{{ .ClassNamePrefix }}symbols > ul > li details[open] p {
    padding: 0.5em;
    margin: 0;
}

.{{ .ClassNamePrefix }}symbols > ul > li details summary {
    cursor: pointer;
}

.{{ .ClassNamePrefix }}symbols > ul > li details[open] summary {
    padding-bottom: 0.5em;
}

.{{ .ClassNamePrefix }}refs > h3 {
    margin: 0;
    padding: 0.5em;
}

.{{ .ClassNamePrefix }}refs > ul {
    margin: 0 0 0 1em;
    padding: 0;
    list-style-type: none;
}

.{{ .ClassNamePrefix }}refs > ul > li {
    margin-bottom: 0.1em;
}

.{{ .ClassNamePrefix }}refs > ul > li > a {
    display: inline-block;
    padding: 0.3em;
    background-color: {{ .Theme.CodeBackgroundColor }};
    border-radius: 0.2em;
    width: 100%;
}

.{{ .ClassNamePrefix }}ref-ln {
    color: {{ .Theme.LineNumberColor }};
    background-color: {{ .Theme.LineNumberBackgroundColor }};
    padding: 0.3em;
    margin: -0.3em 0 -0.3em -0.3em;
    border-radius: 0.2em;
    user-select: none;
}

.{{ .ClassNamePrefix }}refs > ul > li code {
    margin-left: 0.5em;
}

.{{ .ClassNamePrefix }}symbol-kind {
    background-color: {{ .Theme.SymbolKindBackgroundColor }};
    padding: 0.2em 0.3em;
    border-radius: 0.2em;
    user-select: none;
}
